<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <style>
        .menu {
            display: flex;
            justify-content: flex-start;
        }
        h1 {
            font: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div {
            width: 500px;
            background-color: lightgray;
            padding: 5px;
            border: 1px solid #090909;
        }
    </style>
</head>
<body>
    <div class="menu">
        <p><a href="/">Main Menu</a></p>  
    </div>
    <div>
       <h1>IT-4320 Trip Reservation System</h1>
       <p>Welcome to the IT-4320 Reservation System. Use the select box to choose whether to make a reservation or log in as administrator.</p>
    <form onsubmit="return handleSelection();">
        <label for="selection">Choose an action:</label>
        <select id="selection" name="selection" required>
            <option value="">--Please choose an option--</option>
            <option value="admin_login">Log In as Admin</option>
            <option value="reserve_seat">Reserve a Seat</option>
        </select>
        <br><br>
        <button type="submit">Go</button>
    </form> 
    </div>
    <script>
        function handleSelection() {
            const choice = document.getElementById('selection').value;
            if (choice === "admin_login") {
                window.location.href = "{{ url_for('admin_login') }}";
            } else if (choice === "reserve_seat") {
                window.location.href = "/reserve";
            }
            
            return false;
        }
    </script>
</body>
</html>
